
@{
    ViewData["Title"] = "Index";
}

<section id="service-head" class="pos-rel py-5">
    <div class="container">
        <div class="row">
            <div class=" d-flex align-items-center">
                <i class="fs-1-7 primary fas fa-home hover-cc me-5"></i>
                <p class="fs-1-9 primary hover-cc custom-before me-5">
                    Xidmətlərimiz
                </p>
                <p class="fs-1-9 primary hover-cc custom-before">Muhasibatlıq</p>
            </div>
        </div>
    </div>
</section>
<section id="service-breadcrumb" class="white-bg">
    <div class="container pos-rel white-bg background ">
        <div class="row background-height align-items-center">
            <div class="col-6   fw-600 service-title">Muhasibatlıq</div>

        </div>
    </div>
</section>
<section id="service-panel" class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="wrapper flex flex-column">
                    <div class="fs-2-5 my-3">Xidmətlərimiz</div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center mt-3">
                        <p class="nav-drop-head primary fw-600 fs-1-9 hover-cc ls-2">
                            Muhasibatlıq
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu d-flex flex-column my-3">
                        <a asp-controller="Outsource" class="primary hover-cc fs-1-7 fw-600 my-3">
                            Muhasibat uçotunun aparılması üzrə autsors
                            xidməti
                        </a>
                        <a asp-controller="Outsource" class="primary hover-cc  fs-1-7 fw-600 my-3">
                            Maliyyə uçotunun aparılması üzrə autsors
                            xidmətləri
                        </a>
                        <a asp-controller="AccountingServices" class="primary hover-cc fs-1-7 fw-600 my-3">
                            Şirkət rəhbərliyinə xərclər və gəlirlilik haqqında
                            hesabatların hazırlanması
                        </a>
                    </div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center">
                        <p class="nav-drop-head primary fw-500 fs-1-9 hover-cc ls-2">
                            Vergi
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu d-flex flex-column my-3">
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi auditi xidmətləri</a>
                        <a asp-controller="TaxAdviceServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi məsləhət xidmətləri</a>
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi planlaması xidmətləri</a>
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi sahəsində sair xidmətlər</a>
                    </div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center">
                        <p class="nav-drop-head primary fw-500 fs-1-9 hover-cc ls-2">
                            Məsləhət
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu my-3">
                        <a asp-controller="TaxAdviceServices" class="primary hover-cc fs-1-7 fw-600 my-3">Xarici ticarət və gömrük xidmətləri</a>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-9 ">
                <div class="service-card-container d-flex flex-wrap">
                    <div class="main-card">
                        <p class="fs-2 fw-500 ls-2 primary">Muhasibatlıq</p>
                        <p class="fs-2-5 fw-600 mt-3">Global transparency report 2020</p>
                    </div>
                    <div class="side-card ">
                        <div class="card-info">
                            <p class="darkgray fs-2 ls-2">
                                INSIGHTS
                            </p>
                            <p class="fs-2-5 fw-600 ls-2">
                                Business resilience
                            </p>
                            <a href="#" class="fs-2 hover-cc secondary d-flex align-items-center hover-right">
                                <p class="fs-2 hover-cc secondary">Retune your business</p>
                                <i class="fas fa-long-arrow-alt-right ms-3 mt-1"></i>
                            </a>
                        </div>
                        <div class="card-image">
                            <img src="./assets/img/client-behaviour-300x300.jpg" alt="">
                        </div>
                    </div>
                    <p class="fw-600 fs-3 main-title mt-5">
                        Going beyond is what makes FA Consulting different. And what
                        clients value most.
                    </p>
                    <p class="fw-600 fs-3 main-title my-5">
                        We make business personal.
                    </p>
                    <p class="text fs-2 my-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
                        a maxime ipsa cupiditate voluptatum mollitia labore dignissimos
                        quibusdam sint dolor voluptatem excepturi corporis. Expedita
                        delectus non qui vitae velit omnis corrupti ducimus, quas
                        consequatur sequi blanditiis autem deserunt harum architecto
                        iusto ad odit recusandae rerum sed natus illum! Quidem vitae rem
                        praesentium ipsam ratione harum!
                    </p>
                    <ul class="ms-4 my-3">
                        <p class="fw-600 ls-2 fs-2-5 my-3"> Transform Value</p>
                        <li class="fs-1-9 fw-500 my-3">
                            Define strategic goals and formulate solutions that keep you ahead of disruptive change
                        </li>
                        <li class="fs-1-9 fw-500 my-3">
                            Help you sustain and finance growth, manage risk and talent, optimise operations and protect value
                        </li>
                        <li class="fs-1-9 fw-500 my-3">
                            Improve financial processes and systems, reduce costs and transform your finance function
                        </li>
                        <li class="fs-1-9 fw-500 my-3">
                            Remove the burden of back office operations and compliance challenges, enabling you to focus on growth
                        </li>
                        <li class="fs-1-9 fw-500 my-3">
                            Deliver systematic improvements across people, processes and technology, right through the supply chain
                        </li>
                        <li class="fs-1-9 fw-500 my-3">
                            Engage, specify and deliver scalable technology solutions
                        </li>
                    </ul>
                    <p class="fs-1-9 fw-600 ls-2 my-3">Talk to us</p>
                    <p class="fs-2 fw-500 my-4 ls-2">
                        If you have any questions or would like to find out more about how we can help, please contact your local member firm, or our global head of tax, <b>Lorem Dolar</b>.
                    </p>
                    <div class="profile-card my-5">
                        <div class="profile-photo">
                            <img src="./assets/img/sub-sections/profile-photo.png" alt="">

                        </div>
                        <p class="fs-2-5 fw-600 ls-2">
                            Lorem Dolar
                        </p>
                        <p class="fs-2 fw-500 my-3">Head of Tax</p>
                    </div>
                    <p class="fs-2-5 fw-600 ls-2 col-12">
                        Key Services
                    </p>
                    <div class="key-services my-5 d-flex flex-wrap">
                        <a asp-controller="Outsource" class="key-services-item fs-2 primary m-2">
                            Muhasibat uçotunun aparılması üzrə autsors
                            xidməti
                        </a>
                        <a asp-controller="Outsource" class="key-services-item fs-2 primary m-2">
                            Maliyyə uçotunun aparılması üzrə autsors
                            xidmətləri
                        </a>
                        <a asp-controller="AccountingServices" class="key-services-item fs-2 primary m-2">
                            Şirkət rəhbərliyinə xərclər və gəlirlilik haqqında
                            hesabatların hazırlanması
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

