
@{
    ViewData["Title"] = "Index";
}

<section id="breadcrumb-about" class="pos-rel">
    <div class="container">
        <div class="row flex-column align-items-around">
            <div class="mt-5 primary-bg page-location d-flex align-items-center">
                <i class="fs-2 white fas fa-home hover-cc"></i>
                <p class="fs-2 white hover-cc">Komandamız</p>
            </div>
            <div class="breadcrumb--title fs-2 white fw-400">Komanda işi</div>
            <div class="breadcrumb--text white mt-5">Komandamız</div>
            <div class="breadcrumb--nav d-flex flex-column flex-lg-row">
                <a asp-controller="About"
                   class="white hover-cc fw-300 my-4 my-lg-0">Niyə görə biz?</a>
                <a asp-controller="Customers"
                   class="white hover-cc fw-300 my-4 my-lg-0">Müştərilərimiz</a>
            </div>
        </div>
    </div>
</section>
<section id="main-info" class="py-5 margin-sec">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <p class="fw-600 fs-3 main-title">
                    Going beyond is what makes FA Consulting different. And what
                    clients value most.
                </p>
                <p class="fw-600 fs-3 main-title my-5">
                    We make business personal.
                </p>
                <p class="text fs-2 my-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
                    a maxime ipsa cupiditate voluptatum mollitia labore dignissimos
                    quibusdam sint dolor voluptatem excepturi corporis. Expedita
                    delectus non qui vitae velit omnis corrupti ducimus, quas
                    consequatur sequi blanditiis autem deserunt harum architecto
                    iusto ad odit recusandae rerum sed natus illum! Quidem vitae rem
                    praesentium ipsam ratione harum!
                </p>

                <p class="fw-600 fs-3 main-title mt-5">Commitment to quality</p>
                <p class="text fs-2 my-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
                    a maxime ipsa cupiditate voluptatum mollitia labore dignissimos
                    quibusdam sint dolor voluptatem excepturi corporis. Expedita
                    delectus non qui vitae velit omnis corrupti ducimus, quas
                    consequatur sequi blanditiis autem deserunt harum architecto
                    iusto ad odit recusandae rerum sed natus illum! Quidem vitae rem
                    praesentium ipsam ratione harum!
                </p>
            </div>
        </div>
    </div>
</section>
<section id="team-members" class="py-5 gray-sec-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="team-card"
                     style="background-image: url('./assets/img/team-person-1.webp')">
                    <div class="team-card-title">CHAIR AND INDEPENDENT</div>
                    <div class="team-card-text">Lorenzo M'Vionn</div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin fs-2-5 white hover-cc-p"></i>
                        </a>
                    </div>
                    <div class="team-hover-info">
                        <p class="fs-2-5 ls-2">Your Text Here Lorem Dolar Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="team-card"
                     style="background-image: url('./assets/img/team-person-3.webp')">
                    <div class="team-card-title">CHAIR AND INDEPENDENT</div>
                    <div class="team-card-text">Lorenzo M'Vionn</div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin fs-2-5 white hover-cc-p"></i>
                        </a>
                    </div>
                    <div class="team-hover-info">
                        <p class="fs-2-5 ls-2">Your Text Here Lorem Dolar Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="team-card"
                     style="background-image: url('./assets/img/team-person-2.webp')">
                    <div class="team-card-title">CHAIR AND INDEPENDENT</div>
                    <div class="team-card-text">Lorenzo M'Vionn</div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter fs-2-5 white hover-cc-p"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin fs-2-5 white hover-cc-p"></i>
                        </a>
                    </div>
                    <div class="team-hover-info">
                        <p class="fs-2-5 ls-2">Your Text Here Lorem Dolar Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
