
@{
    ViewData["Title"] = "Index";
}

<section id="service-head" class="pos-rel py-5">
    <div class="container">
        <div class="row">
            <div class=" d-flex align-items-center">
                <i class="fs-1-7 primary fas fa-home hover-cc me-5"></i>
                <p class="fs-1-9 primary hover-cc custom-before me-5">
                    Xidmətlərimiz
                </p>
                <p class="fs-1-9 primary hover-cc custom-before">Məsləhət</p>
                <p class="fs-1-9 primary hover-cc custom-before ms-5">Vergi planlaması xidmətləri</p>
            </div>
        </div>
    </div>
</section>
<section id="service-breadcrumb" class="white-bg">
    <div class="container pos-rel white-bg background ">
        <div class="row background-height align-items-center">
            <div class="col-6   fw-600 service-title">Vergi planlaması xidmətləri</div>

        </div>
    </div>
</section>
<section id="service-panel" class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="wrapper flex flex-column">
                    <div class="fs-2-5 my-3">Xidmətlərimiz</div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center">
                        <p class="nav-drop-head primary fw-600 fs-1-9 hover-cc ls-2">
                            Vergi
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu d-flex flex-column my-3">
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi auditi xidmətləri</a>
                        <a asp-controller="TaxAdviceServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi məsləhət xidmətləri</a>
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi planlaması xidmətləri</a>
                        <a asp-controller="TaxAuditServices" class="primary hover-cc fs-1-7 fw-600 my-3">Vergi sahəsində sair xidmətlər</a>
                    </div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center mt-3">
                        <p class="nav-drop-head primary fw-500 fs-1-9 hover-cc ls-2">
                            Muhasibatlıq
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu d-flex flex-column my-3 ">
                        <a asp-controller="Outsource" class="primary hover-cc fs-1-7 fw-600 my-3 ">
                            Muhasibat uçotunun aparılması üzrə autsors
                            xidməti
                        </a>
                        <a asp-controller="Outsource" class="primary hover-cc  fs-1-7 fw-600 my-3">
                            Maliyyə uçotunun aparılması üzrə autsors
                            xidmətləri
                        </a>
                        <a asp-controller="AccountingServices" class="primary hover-cc fs-1-7 fw-600 my-3">
                            Şirkət rəhbərliyinə xərclər və gəlirlilik haqqında
                            hesabatların hazırlanması
                        </a>
                    </div>
                    <div class="nav-wrapper d-flex justify-content-between align-items-center">
                        <p class="nav-drop-head primary fw-500 fs-1-9 hover-cc ls-2">
                            Məsləhət
                        </p>
                        <i class="fas fa-angle-right fs-1-9 hover-cc dropIcon"></i>
                    </div>
                    <div class="nav-drop-menu my-3 ">
                        <a asp-controller="TaxAdviceServices" class="primary hover-cc fs-1-7 fw-600 my-3 ">Xarici ticarət və   gömrük xidmətləri</a>
                    </div>


                </div>
            </div>
            <div class="col-12 col-lg-7 text-area pl-80">
                <p class="fs-2-5 fw-600 my-3">
                    Staying ahead of disruptive change
                </p>
                <p class="fs-1-7 fw-600 ls-2 lh-30">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat harum expedita, voluptate ullam nam est totam aut repudiandae maxime earum. Corporis asperiores laboriosam adipisci totam autem omnis beatae nostrum voluptatum?
                </p>
                <p class="fs-2-5 fw-600 mt-5">
                    Xarici ticarət
                </p>
                <p class="fs-1-7 fw-600 ls-2 my-5 lh-30">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas, inventore corporis corrupti amet debitis iste ex ipsum. Neque, tenetur. Nulla consequuntur, alias pariatur eum facere enim vel provident. Laudantium dolorum porro corporis explicabo autem in totam nesciunt quas quia facere non beatae maiores consequuntur assumenda et saepe tempora, inventore dolores est obcaecati labore culpa maxime. Sit in labore sed doloribus ut velit atque cum tempora quas earum repellat quos fuga aut aperiam unde animi ab, aspernatur laudantium dolores sint. Quasi quidem optio et inventore dolor dolorem. Recusandae iste iure fugiat, fugit accusantium tempore excepturi alias quidem soluta, accusamus possimus voluptate vel impedit consequuntur hic harum velit adipisci officia vitae delectus obcaecati. Ducimus voluptatibus magnam voluptates, eveniet dolorum nemo vitae dolore est nulla eaque ad, impedit voluptate sunt. Error explicabo provident natus tempora sequi, cumque omnis totam nesciunt accusamus ipsa delectus nam cupiditate nobis dicta quia facilis? Explicabo, inventore animi?
                </p>
                <p class="fs-2-5 fw-600 mt-5">
                    Xarici ticarət
                </p>
                <p class="fs-1-7 fw-600 ls-2 my-5 lh-30">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas, inventore corporis corrupti amet debitis iste ex ipsum. Neque, tenetur. Nulla consequuntur, alias pariatur eum facere enim vel provident. Laudantium dolorum porro corporis explicabo autem in totam nesciunt quas quia facere non beatae maiores consequuntur assumenda et saepe tempora, inventore dolores est obcaecati labore culpa maxime. Sit in labore sed doloribus ut velit atque cum tempora quas earum repellat quos fuga aut aperiam unde animi ab, aspernatur laudantium dolores sint. Quasi quidem optio et inventore dolor dolorem. Recusandae iste iure fugiat, fugit accusantium tempore excepturi alias quidem soluta, accusamus possimus voluptate vel impedit consequuntur hic harum velit adipisci officia vitae delectus obcaecati. Ducimus voluptatibus magnam voluptates, eveniet dolorum nemo vitae dolore est nulla eaque ad, impedit voluptate sunt. Error explicabo provident natus tempora sequi, cumque omnis totam nesciunt accusamus ipsa delectus nam cupiditate nobis dicta quia facilis? Explicabo, inventore animi?
                </p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="article-card d-flex flex-column ">
                    <div class="darkgray fs-1-9 ls-2 my-2">GLOBAL HEAD</div>
                    <p class="fs-2 ls-2 my-3 fw-600">Lorem Dolar</p>
                    <a href="#" class="fs-2 hover-cc secondary d-flex align-items-center hover-right">
                        <p class="fs-2 hover-cc secondary">Find out more</p>
                        <i class="fas fa-long-arrow-alt-right ms-3 mt-1"></i>
                    </a>
                </div>
                <div class="related-articles ">
                    <div class="fs-2-5 fw-600 ls-2">
                        Related Articles
                    </div>
                    <div class="article-card d-flex flex-column my-4">
                        <div class="darkgray fs-1-9 ls-2 my-2">News 1</div>
                        <p class="fs-2 ls-2 my-3 fw-600">Lorem Dolar</p>
                        <a href="#" class="fs-2 hover-cc secondary d-flex align-items-center hover-right">
                            <p class="fs-2 hover-cc secondary">Find out more</p>
                            <i class="fas fa-long-arrow-alt-right ms-3 mt-1"></i>
                        </a>
                    </div>
                    <div class="article-card d-flex flex-column my-4">
                        <div class="darkgray fs-1-9 ls-2 my-2">News 2</div>
                        <p class="fs-2 ls-2 my-3 fw-600">Lorem Dolar</p>
                        <a href="#" class="fs-2 hover-cc secondary d-flex align-items-center hover-right">
                            <p class="fs-2 hover-cc secondary">Find out more</p>
                            <i class="fas fa-long-arrow-alt-right ms-3 mt-1"></i>
                        </a>
                    </div>
                    <div class="article-card d-flex flex-column my-4">
                        <div class="darkgray fs-1-9 ls-2 my-2"> News 3</div>
                        <p class="fs-2 ls-2 my-3 fw-600">Lorem Dolar</p>
                        <a href="#" class="fs-2 hover-cc secondary d-flex align-items-center hover-right">
                            <p class="fs-2 hover-cc secondary">Find out more</p>
                            <i class="fas fa-long-arrow-alt-right ms-3 mt-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
